<!DOCTYPE html>
<html lang="es">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="description" content="Free Web tutorials">
  <meta name="keywords" content="HTML,CSS,XML,JavaScript">
  <meta name="author" content="John Doe">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Title -->
  <title>C.V. David Quintanar</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- Main CSS -->
  <link rel="stylesheet" href="./resources/css/main.css" href="/css/master.css">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=PT+Serif&display=swap" rel="stylesheet">
</head>

<body>

  <header id="home">
    <div class="menu-icon-container">
      <div class="menu-bar1"></div>
      <div class="menu-bar2"></div>
      <div class="menu-bar3"></div>
    </div>

    <div id="home" class="parallax">
      <div class="hero-container aos-init aos-animate" data-aos="fade-in">
        <h1 class="digit">David Quintanar</h1>
        <p class="reveal1"><span id="typed"></span></p>
      </div>
    </div>
  </header>


  <aside class="site-aside">
    <div class="d-flex flex-column">
      <div class="profile text-center">
        <img src="./resources/images/david.jpg" alt="Imagen de perfil" class="rounded-circle">
        <!-- <h1><a href="index.html">David Quintanar Pérez</a></h1> -->
        <h1><a href="index">David Quintanar Pérez</a></h1>
        <div class="social-menu mt-3">
          <a href="https://mx.linkedin.com/in/david-quintanar-p%C3%A9rez-0a5134145" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="https://github.com/davidquintanarperez" target="_blank"><i class="fab fa-github"></i></a>
        </div>
      </div>

      <nav class="site-nav-menu">
        <ul>
          <li id="nav-a1"><a href="#home"><i class="fas fa-home"></i> &nbsp;&nbsp;<span>Inicio</span></a></li>
          <li id="nav-a2"><a href="#about"><i class="far fa-user"></i> &nbsp;&nbsp;&nbsp;<span>Acerca de mi</span></a></li>
          <li id="nav-a3"><a href="#skills"><i class="fas fa-laptop-code"></i> &nbsp;<span>Habilidades</span></a></li>
          <li id="nav-a4"><a href="#resume"><i class="far fa-file"></i> &nbsp;&nbsp;&nbsp;<span>Experiencia</span></a></li>
          <li id="nav-a5"><a href="#study"><i class="fas fa-graduation-cap"></i> &nbsp;<span>Historia académica</span></a></li>
          <!-- <li id="nav-a6"><a href="#testimonials"><i class="fas fa-users"></i> &nbsp;<span>Testimoniales</span></a></li> -->
          <li id="nav-a7"><a href="#contact"><i class="far fa-envelope"></i> &nbsp;&nbsp;<span>Contacto</span></a></li>
        </ul>
      </nav>
    </div>
  </aside>

  <main>
    <article class="site-article">

      <section id="about">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <h2 class="digit">Acerca de mi</h2>
              <p class="text-justify reveal1">
                Mi objetivo primordial es formar parte de un grupo de trabajo líder y exitoso donde pueda seguir formando mis aptitudes. Del mismo
                modo desempeñarme en el cargo de forma satisfactoria, demostrando mis conocimientos acumulados hasta el momento.
                Comprometido siempre por mejorar para crecer conjuntamente con el desarrollo integral de una empresa.
                Me distingo por mi colaboración en trabajo en equipo, así como estar en constante aprendizaje formando retos y compartiendo el
                conocimento.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section id="skills">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <h2 class="digit">Habilidades</h2>
              <ul class="row reveal1">
                <li class="col-12 col-sm-6 col-md-4 col-lg-3"><i class="fas fa-angle-right"></i> Python</li>
                <li class="col-12 col-sm-6 col-md-4 col-lg-3"><i class="fas fa-angle-right"></i> Git</li>
                <li class="col-12 col-sm-6 col-md-4 col-lg-3"><i class="fas fa-angle-right"></i> Jenkins</li>
                <li class="col-12 col-sm-6 col-md-4 col-lg-3"><i class="fas fa-angle-right"></i> Estadística</li>
                <li class="col-12 col-sm-6 col-md-4 col-lg-3"><i class="fas fa-angle-right"></i> Linux</li>
                <li class="col-12 col-sm-6 col-md-4 col-lg-3"><i class="fas fa-angle-right"></i> Docker</li>
                <li class="col-12 col-sm-6 col-md-4 col-lg-3"><i class="fas fa-angle-right"></i> Apache Spark</li>
                <li class="col-12 col-sm-6 col-md-4 col-lg-3"><i class="fas fa-angle-right"></i> Otros</li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section id="resume">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <h2 class="digit">Experiencia profecional</h2>
            </div>

            <div class="col-12 history-tl-container reveal1">
              <ul class="tl">
                <li class="tl-item" ng-repeat="item in retailer_history">
                  <div class="timestamp">
                    2019 - Presente
                  </div>
                  <div class="item-title">/Bluetab Solutions</div>
                  <div class="item-detail">Consultor BI</div>
                  <ul class="resume-activity"><br>
                    <li><i class="fas fa-angle-right"></i> Clientes como Naturgy, BBVA y Datio</li>
                    <li><i class="fas fa-angle-right"></i> Control de incidencias, en procesos ETL sobre servisios AWS (CloudWatch, Lambda, S3 EC2)</li>
                    <li><i class="fas fa-angle-right"></i> Procesamiento de datos con Scala Spark y Python</li>
                    <li><i class="fas fa-angle-right"></i> Flujo de trabajo con Git</li>
                    <li><i class="fas fa-angle-right"></i> Agile Framework</li>
                    <li><i class="fas fa-angle-right"></i> Aplicación de reglas de calidad</li>
                    <li><i class="fas fa-angle-right"></i> Diccionarios de datos</li>
                    <li><i class="fas fa-angle-right"></i> Gobierno de datos</li>
                    <li><i class="fas fa-angle-right"></i> Ingestas en plataformas de BBVA</li>
                  </ul>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                  <div class="timestamp">
                    2017
                  </div>
                  <div class="item-title">Departamento de Redes y Soporte</div>
                  <div class="item-detail">FES Acatlán</div>
                  <ul class="resume-activity"><br>
                    <li><i class="fas fa-angle-right"></i> Servicio Social</li>
                    <li><i class="fas fa-angle-right"></i> Migrar datos</li>
                    <li><i class="fas fa-angle-right"></i> Intalar equipo de cómputo, malware y sistemas operativos</li>
                  </ul>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                  <div class="timestamp">
                    2013-2015
                  </div>
                  <div class="item-title">MAINBIT</div>
                  <div class="item-detail">Soporte</div>
                  <ul class="resume-activity"><br>
                    <li>
                    <li><i class="fas fa-angle-right"></i> Instalación de hardware y software</li>
                    <li><i class="fas fa-angle-right"></i> Clonar imágenes de discos duros</li>
                    <li><i class="fas fa-angle-right"></i> Migración de datos</li>
                    <li><i class="fas fa-angle-right"></i> Trato con personas</li>
                    <li><i class="fas fa-angle-right"></i> En oficinas y escuelas de la SEP y Colegio Nacional de Educación Profesional Técnica</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section id="study">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <h2 class="digit">Historia Académica</h2>
            </div>

            <div class="col-12 history-tl-container reveal1">
              <ul class="tl">
                <li class="tl-item" ng-repeat="item in retailer_history">
                  <div class="timestamp">
                    02 de Septiembre de 2019
                  </div>
                  <div class="item-title"><a target="_blank" href="./resources/certified/Scrum Developer Certified -728174.pdf">SCRUM DEVELOPER CERTIFIED</a></div>
                  <div class="item-detail">Scrum Study</div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                  <div class="timestamp">
                    2012 - 2018
                  </div>
                  <div class="item-title">LIC. MATEMÁTICAS APLICADAS Y COMPUTACIÓN</div>
                  <div class="item-detail">Facultad de Estudios Superiores Acatlán</div>
                </li>
              </ul>
            </div>

            <div class="col-12 history-tl-container">
              <h3 class="text-left digit">Cursos</h3>
              <ul class="tl reveal1">
                <li class="tl-item" ng-repeat="item in retailer_history">
                  <div class="item-title"><a target="_blank" href="https://platzi.com/@davidqp/">Platzi</a></div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                  <div class="item-title">Datio</div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                  <div class="item-title">Udemy</div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                  <div class="item-title">Accenture</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <!-- <section id="testimonials" class="testimonial">
        <h2 class="container digit">Testimoniales</h2>
        <div class="container reveal1">
          <div id="testimonial4" class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x" data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2000">

            <div id="testimonials-principal-container" class="carousel-inner" role="listbox">
              Testimonials
            </div>
            <a class="carousel-control-prev" href="#testimonial4" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#testimonial4" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          </div>
        </div>

        <div class="container">
          <a class="effect-5 digit" href="./views/testimonials.html#testimonials-id"><span><i class="fas fa-angle-right"></i> Mas testimonios</span></a>
        </div>
      </section> -->

      <section id="contact">
        <div class="container">
          <h2 class="digit">Contacto</h2>

          <div class="row justify-content-around reveal1">
            <div class="item-contact col-12 col-md-5 text-center">
              <div class="">
                <a href="https://mx.linkedin.com/in/david-quintanar-p%C3%A9rez-0a5134145" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/davidquintanarperez" target="_blank"><i class="fab fa-github"></i></a>
              </div>
            </div>
            <div class="item-contact col-12 col-md-5 text-center">
              <i class="fas fa-envelope"></i>
              <p>davidquintanarperez@gmail.com</p>
            </div>
          </div>
        </div>
      </section>
    </article>

    <footer class="bg-light py-5">
      <div class="container">
        <div class="small text-center text-muted">Copyright © 2020 - David Quintanar Pérez</div>
      </div>
    </footer>
  </main>

  <!-- Optional JavaScript -->
  <!-- Google CDN jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Typed JS -->
  <script type="text/javascript" src="./resources/js/typed.js"></script>
  <!-- ScrollMagic -->
  <script src="./resources/js/ScrollMagic.min.js"></script>
  <script src="./resources/js/debug.addIndicators.min.js"></script>
  <!-- Main JS -->
  <script src="./resources/js/main.js" type="text/javascript"></script>
  <!-- Testimonials JS -->
  <script src="./resources/js/testimonials.js" type="text/javascript"></script>
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/3a9596be7a.js"></script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>
