/* ========================================================================== */
/* ============================================================= Google Fonts */
/* ========================================================================== */
/*

    font-family: 'Lato', sans-serif;

    font-family: 'PT Serif', serif;

*/
/* ========================================================================== */
/* ================================================================== Colores */
/* ========================================================================== */
/*

    #050914  rgba(5,9,20, 0.9)
    #406e8e  rgba(64,110,142, 0.9)
    #78cbc9  rgba(120,203,201, 0.9)
    #f4f7fc  rgba(244,247,252, 0.9)
    #FFFFFF  rgba(255,255,255, 0.9)

*/
/* ========================================================================== */
/* ====================================================== RWD - Media Queries */
/* ========================================================================== */
/*

    @media only screen and (max-width: 600px) {}
    @media only screen and (min-width: 600px) {}
    @media only screen and (min-width: 768px) {}
    @media only screen and (min-width: 992px) {}
    @media only screen and (min-width: 1200px) {}

*/
/* ========================================================================== */
/* =================================================================== Global */
/* ========================================================================== */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background-color: #FFFFFF;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h1 a, .item-title {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

p, a, li, .timestamp, .item-detail {
  font-family: 'PT Serif', serif;
}

a:hover {
  text-decoration: none;
}

.fa-angle-right {
  color: #78cbc9;
}

/* ========================================================================== */
/* =================================================================== Header */
/* ========================================================================== */
/* ----------------------------------------------------------------------- */
/* -------------------------------------------------------------- Parallax */
/* ----------------------------------------------------------------------- */
.parallax {
  background-image: url("../images/hero.jpg");
  height: 100vh;
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
}

.hero-container {
  position: relative;
  color: #050914;
  margin: 0 auto;
  padding-top: 30vh;
}

.hero-container p {
  font-family: 'PT Serif', serif;
}

#typed {
  border-bottom: 4px solid #78cbc9;
}

@media only screen and (max-height: 300px) {
  .hero-container {
    padding-top: 100px;
  }
}

@media only screen and (max-width: 600px) {
  .hero-container {
    max-width: 310px;
  }

  .hero-container h1 {
    font-size: 2.7em;
  }

  .hero-container p {
    font-size: 1.6em;
  }
}

@media only screen and (min-width: 600px) {
  .hero-container {
    max-width: 400px;
  }

  .hero-container h1 {
    font-size: 3.5em;
  }

  .hero-container p {
    font-size: 2em;
  }
}

@media only screen and (min-width: 768px) {
  .hero-container {
    max-width: 460px;
  }

  .hero-container h1 {
    font-size: 4em;
  }

  .hero-container p {
    font-size: 2.5em;
  }
}

@media only screen and (min-width: 992px) {
  .hero-container {
    max-width: 570px;
  }

  .hero-container h1 {
    font-size: 5em;
  }

  .hero-container p {
    font-size: 3em;
  }
}

/* ----------------------------------------------------------------------- */
/* ------------------------------------------------------------- Menu Icon */
/* ----------------------------------------------------------------------- */
.menu-icon-container {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 1;
}

.menu-icon-container:hover .menu-bar2 {
  width: 35px;
}

.menu-bar1, .menu-bar2, .menu-bar3 {
  height: 5px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.menu-bar1, .menu-bar3 {
  width: 35px;
  background-color: #050914;
}

.menu-bar2, .menu-bar3 {
  margin: 6px 0px;
}

.menu-bar2 {
  width: 25px;
  background-color: #78cbc9;
}

.change-menu .menu-bar1 {
  background-color: #78cbc9;
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change-menu:hover .menu-bar1 {
  background-color: #050914;
}

.change-menu .menu-bar2 {
  opacity: 0;
}

.change-menu .menu-bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.change-menu:hover .menu-bar3 {
  background-color: #78cbc9;
}

@media only screen and (min-width: 1200px) {
  .menu-icon-container {
    display: none;
  }
}

/* ========================================================================== */
/* ==================================================================== Aside */
/* ========================================================================== */
.site-aside {
  background-color: #050914;
  padding: 0px 15px;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 300px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  overflow-y: auto;
}

@media only screen and (max-width: 1200px) {
  .site-aside {
    left: -300px;
  }

  .site-aside.change-aside {
    left: 0px;
  }
}

/* ----------------------------------------------------------------------- */
/* --------------------------------------------------------- Profile image */
/* ----------------------------------------------------------------------- */
.profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid rgba(64, 110, 142, 0.4);
  max-width: 100%;
  height: auto;
}

/* ----------------------------------------------------------------------- */
/* --------------------------------------------------------------- Profile */
/* ----------------------------------------------------------------------- */
.profile h1 a {
  color: #FFFFFF;
  font-size: 24px;
}

/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------- Social menu */
/* ----------------------------------------------------------------------- */
.social-menu a i {
  color: #FFFFFF;
  font-size: 1.5em;
  margin: 0px 10px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.social-menu a:hover i {
  color: #78cbc9;
}

/* ----------------------------------------------------------------------- */
/* --------------------------------------------------------- Site nav menu */
/* ----------------------------------------------------------------------- */
.site-nav-menu {
  padding-top: 30px;
}

.site-nav-menu ul li {
  padding: 12px 15px;
  margin-bottom: 8px;
}

.site-nav-menu ul li a {
  color: #6f7180;
  font-size: 1.1em;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.site-nav-menu ul li a i {
  padding-right: 8px;
  font-size: 24px;
  font-size: 1.2em;
}

.nav-a-active a {
  color: #FFFFFF !important;
}

.nav-a-active a i {
  color: #78cbc9;
}

.site-nav-menu ul li:hover a {
  color: #FFFFFF;
}

.site-nav-menu ul li:hover a i {
  color: #78cbc9;
}

/* ========================================================================== */
/* ================================================================== Article */
/* ========================================================================== */
main {
  position: absolute;
  z-index: -1;
  right: 0;
  left: 300px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media only screen and (max-width: 1200px) {
  main {
    left: 0px;
  }
}

/* ========================================================================== */
/* ================================================================== Section */
/* ========================================================================== */
section {
  padding: 80px 20px;
  margin: 0px 0px !important;
}

section:nth-child(2n+2) {
  background-color: #f4f7fc;
}

h2 {
  color: #406e8e;
  font-family: 'Lato', sans-serif;
}

h3 {
  color: #78cbc9;
}

h2::after {
  content: '';
  display: block;
  height: 4px;
  margin: 10px 0px 30px 0px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background: #78cbc9;
  width: 80px;
}

@media only screen and (max-width: 600px) {
  h2 {
    font-size: 1.9em;
  }

  h3 {
    font-size: 1.6em;
  }

  section p, section a, section li, button {
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 600px) {
  h2 {
    font-size: 1.9em;
  }

  h3 {
    font-size: 1.6em;
  }

  section p, section a, section li, button {
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 768px) {
  h2 {
    font-size: 2.1em;
  }

  h3 {
    font-size: 1.6em;
  }

  section p, section a, section li, button {
    font-size: 1em;
  }
}

@media only screen and (min-width: 992px) {
  h2 {
    font-size: 2.3em;
  }

  h3 {
    font-size: 1.8em;
  }

  section p, section a, section li, button {
    font-size: 1.1em;
  }
}

@media only screen and (min-width: 1200px) {
  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 2em;
  }

  section p, section a, section li, button {
    font-size: 1.2em;
  }
}

/* ----------------------------------------------------------------------- */
/* --------------------------------------------------------- Profile image */
/* ----------------------------------------------------------------------- */
.digit {
  opacity: 0;
  -webkit-transform: translateX(-40px);
  -moz-transform: translateX(-40px);
  -ms-transform: translateX(-40px);
  -o-transform: translateX(-40px);
  transform: translateX(-40px);
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.digit.visible {
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

.reveal1 {
  opacity: 0;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.reveal1.visible {
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

/* ========================================================================== */
/* =================================================================== Skills */
/* ========================================================================== */
#skills div div div ul li i {
  color: #78cbc9;
}

#skills div div div ul li {
  margin: 5px 0px;
}

/* ========================================================================== */
/* =================================================================== Resume */
/* ========================================================================== */
.history-tl-container {
  width: 50%;
  margin: auto;
  display: block;
  position: relative;
}

.history-tl-container ul.tl {
  margin: 20px 0;
  padding: 0;
  display: inline-block;
}

.history-tl-container ul.tl li.tl-item {
  list-style: none;
  margin: auto;
  margin-left: 200px;
  min-height: 50px;
  border-left: 1px dashed #78cbc9;
  color: #406e8e;
  padding: 0 0 50px 30px;
  position: relative;
}

.history-tl-container ul.tl li.tl-item a {
  font-weight: normal;
}

.history-tl-container ul.tl li:last-child {
  border-left: 0;
}

.history-tl-container ul.tl li::before {
  position: absolute;
  left: -10px;
  top: -5px;
  content: " ";
  border: 8px solid rgba(255, 255, 255, 0.74);
  border-radius: 500%;
  background: #78cbc9;
  height: 20px;
  width: 20px;
  transition: all 500ms ease-in-out;
}

.history-tl-container ul.tl li:hover::before {
  border-color: #78cbc9;
  transition: all 1000ms ease-in-out;
}

ul.tl li .item-title {}

ul.tl li .item-detail {
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
}

ul.tl li .timestamp {
  color: #8D8D8D;
  position: absolute;
  width: 150px;
  left: -170px;
  text-align: right;
  font-size: 13px;
}

ul.resume-activity li {
  font-size: 1em;
  color: #050914;
}

@media only screen and (max-width: 600px) {
  .history-tl-container ul.tl li.tl-item {
    margin-left: 0px;
  }

  ul.tl li .timestamp {
    position: relative;
    left: 0px;
    text-align: left;
  }
}

/* ========================================================================== */
/* ============================================================= Testimonials */
/* ========================================================================== */
.testimonial {
  min-height: 375px;
  position: relative;
  background: url(../images/testimonials.jpg);
  padding-top: 50px;
  padding-bottom: 50px;
  background-position: center;
  background-size: cover;
}

.testimonial h2 {
  color: #FFFFFF;
}

#testimonial4 .carousel-inner:hover {
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

#testimonial4 .carousel-inner:active {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

#testimonial4 .carousel-inner .item {
  overflow: hidden;
}

.testimonial4_indicators .carousel-indicators {
  left: 0;
  margin: 0;
  width: 100%;
  height: 20px;
  bottom: 15px;
  padding: 0 5px;
  cursor: e-resize;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.testimonial4_indicators .carousel-indicators li {
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  text-indent: 0;
  margin: 2px 3px;
  cursor: pointer;
  display: inline-block;
  background: #ffffff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.testimonial4_indicators .carousel-indicators .active {
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  margin: 2px 3px;
  background-color: #9dd3af;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.testimonial4_indicators .carousel-indicators::-webkit-scrollbar {
  height: 3px;
}

.testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb {
  background: #eeeeee;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.testimonial4_control_button .carousel-control {
  top: 175px;
  opacity: 1;
  width: 40px;
  bottom: auto;
  height: 40px;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  line-height: 38px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  background: transparent;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.6s cubic-bezier(0.3, 1, 0, 1);
  transition: all 0.6s cubic-bezier(0.3, 1, 0, 1);
}

.testimonial4_control_button .carousel-control.left {
  left: 7%;
  top: 50%;
  right: auto;
}

.testimonial4_control_button .carousel-control.right {
  right: 7%;
  top: 50%;
  left: auto;
}

.testimonial4_control_button .carousel-control.left:hover,
.testimonial4_control_button .carousel-control.right:hover {
  color: #000;
  background: #fff;
  border: 2px solid #fff;
}

.testimonial4_header {
  top: 0;
  left: 0;
  bottom: 0;
  width: 550px;
  display: block;
  margin: 30px auto;
  text-align: center;
  position: relative;
}

.testimonial4_header h3 {
  color: #ffffff;
  font-weight: 600;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.testimonial4_slide {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 60%;
  margin: auto;
  padding: 20px;
  position: relative;
  text-align: center;
}

.testimonial4_slide img {
  top: 0;
  left: 0;
  right: 0;
  width: 136px;
  height: 136px;
  margin: auto;
  display: block;
  color: #f2f2f2;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  position: relative;
  border-radius: 50%;
  box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
}

.testimonial4_slide p {
  color: #ffffff;
  line-height: 1.4;
  margin: 40px 0 20px 0;
}

.testimonial4_slide h3 {
  color: #ffffff;
}

.testimonial .carousel {
  padding-bottom: 50px;
}

.testimonial .carousel-control-next-icon, .testimonial .carousel-control-prev-icon {
  width: 35px;
  height: 35px;
}

/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------- Link Testimonials */
/* ----------------------------------------------------------------------- */
/* body:after {
  content: '';
  display: table;
  clear: both;
} */
a.effect-5 {
  color: #FFFFFF;
}

.effect-5 i, .button-effect i {
  font-size: 1.3em;
}

a, a>span, button, button>span {
  position: relative;
  color: inherit;
  text-decoration: none;
  line-height: 24px;
}

a:before, a:after, a>span:before, a>span:after, button:before, button:after, button>span:before, button>span:after {
  content: '';
  position: absolute;
  transition: transform .5s ease;
}

.effect-5, .button-effect {
  display: inline-block;
  overflow: hidden;
}

.effect-5:before, .effect-5:after, .button-effect:before, .button-effect:after {
  right: 0;
  bottom: 0;
  background: #FFFFFF;
}

.effect-5:before, .button-effect:before {
  width: 100%;
  height: 2px;
  transform: translateX(-65%);
}

.effect-5:after, .button-effect:after {
  width: 2px;
  height: 100%;
  transform: translateY(100%);
}

.effect-5>span, .button-effect>span {
  display: block;
  padding: 10px;
}

.effect-5>span:before, .effect-5>span:after, .button-effect>span:before, .button-effect>span:after {
  left: 0;
  top: 0;
  background: #FFFFFF;
}

.effect-5>span:before, .button-effect>span:before {
  width: 100%;
  height: 2px;
  transform: translateX(101%);
}

.effect-5>span:after, .button-effect>span:after {
  width: 2px;
  height: 100%;
  transform: translateY(-100%);
}

.effect-5:hover:before, .effect-5:hover:after, .effect-5:hover>span:before, .effect-5:hover>span:after, .button-effect:hover:before, .button-effect:hover:after, .button-effect:hover>span:before, .button-effect:hover>span:after {
  transform: translate(0, 0);
}

/* ========================================================================== */
/* ================================================================= Contacto */
/* ========================================================================== */
#contact {
  min-height: 100vh;
}

#contact div div.row {
  padding: 25vh 0px;
}

#contact i, #contact a {
  color: #050914;
  margin: 15px 10px;
}

#contact a i {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#contact a:hover i, #contact p {
  color: #78cbc9;
}

.item-contact {
  padding: 100px 15px;
  -webkit-box-shadow: 3px 3px 5px 1px rgba(4, 11, 20, 0.5);
  box-shadow: 3px 3px 5px 1px rgba(4, 11, 20, 0.5);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background-color: #FFFFFF;
}

@media only screen and (max-width: 768px) {
  .item-contact {
    margin: 15px 0px;
  }
}

@media only screen and (max-width: 600px) {
  #contact i {
    font-size: 2.4em;
  }
}

@media only screen and (min-width: 600px) {
  #contact i {
    font-size: 2.4em;
  }
}

@media only screen and (min-width: 768px) {
  #contact i {
    font-size: 2.6em;
  }
}

@media only screen and (min-width: 992px) {
  #contact i {
    font-size: 2.8em;
  }
}

@media only screen and (min-width: 1200px) {
  #contact i {
    font-size: 3em;
  }
}
