/* ========================================================================== */
/* =================================================================== Global */
/* ========================================================================== */
p, a, li, button {
  font-size: 1.4rem;
}

/* ========================================================================== */
/* ================================================================ #site-nav */
/* ========================================================================== */
a.nav-link {
  font-size: 1.8rem;
}

/* ========================================================================== */
/* ============================================================= #site-header */
/* ========================================================================== */
#site-header div div div {
  padding: 10px 5px 50px 5px;
}

.social-nav-header li a {
  font-size: 2rem;
}

#site-header h1 {
  font-size: 4.2rem;
}

#site-header h2 {
  font-size: 2.8rem;
}

/* ========================================================================== */
/* ================================================================== section */
/* ========================================================================== */
.title-section h3 {
  font-size: 2.8rem;
}

section h4 {
  font-size: 2.3rem;
}

/* ----------------------------------------------------------------------- */
/* ------------------------------------------------------------------ .tab */
/* ----------------------------------------------------------------------- */
.tab {
  border-top: none;
  border-left: 1px solid rgba(100, 255, 218, 0.9);
  height: inherit;
  margin: 0;
  display: block;
  justify-content: space-between;
}

.tab button {
  display: block;
  width: 100%;
  border: none;
  border-left: 2px solid transparent;
  text-align: left;
}

button.tab-button-active {
  border-left: 2px solid rgba(100, 255, 218, 0.9);
}

/* ========================================================================== */
/* =================================================================== #about */
/* ========================================================================== */
#about .content-section div div:nth-child(1) figure {
  margin-bottom: 0px;
}

#about .content-section div div:nth-child(1) div img {
  margin-bottom: 0;
}

#about .content-section div div:nth-child(1) figure figcaption {
  padding: 10px 0 15px 0;
  bottom: -100px;
  font-size: 2.5rem;
}

/* ========================================================================== */
/* ================================================================= #contact */
/* ========================================================================== */
#contact div.content-section ul {
  margin: 70px 0;
}

#contact div.content-section ul li:nth-child(2) {
  margin: 0 30px;
}

#contact div.content-section ul li a {
  font-size: 4rem;
}
